<!DOCTYPE html>
<html>
<head>
	<title>English Quest</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="courses.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
</head>
<body>

	<!-- HEADER --------->

	<header>
		<div id="logo">
			<a href="#">
				<img src="./images/LogoEQ.jpg" alt="Logo" height="50px">
			</a>
		</div>

		<nav id="main-nav">
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#profile">Profile</a></li>
				<li><a href="#program">Program</a></li>
				<li><a href="#gallery">Gallery</a></li>
				<li><a href="#pendaftaran">Registration</a></li>
				<li><a href="#login">Login</a></li>
			</ul>
		</nav>
	</header>

	<!-- HOME --------->

	<section id="home">
		<hr>
		<h1>English Quest</h1>
		<h2>learn English in detail with us</h2>
		<a href="#profile">
			<img src="images/down.png" alt="file" width="54px">
		</a>
	</section>

	<!-- PROFILE --------->

	<section id="profile">
		<h3>Profile</h3>
		<hr>
		<img src="images/profile.png" alt="Avatar">
		<h4>English Quest</h4>
		<p>Sebuah lembaga yang menyediakan program kursus bahasa inggris untuk anak-anak, remaja, dan dewasa.</p>
	</section>

	<!-- PROGRAM --------->

	<section id="program">
		<h3>Program</h3>
		<hr>
		<img src="images/program.png" alt="Avatar">
		<p>Program yang kami sediakan terdiri dari 3, yaitu:
		</p>
	</section>

	<!-- GALLERY --------->

	<section id="gallery">
		<h3>Gallery</h3>
		<hr>

		<div id="projects">
			<ul>
				<li><a href="#"><img src="http://placehold.it/280x170" alt="project_01"></a></li>
				<li><a href="#"><img src="http://placehold.it/280x170" alt="project_02"></a></li>
				<li><a href="#"><img src="http://placehold.it/280x170" alt="project_03"></a></li>
				<li><a href="#"><img src="http://placehold.it/280x170" alt="project_04"></a></li>
				<li><a href="#"><img src="http://placehold.it/280x170" alt="project_05"></a></li>
				<li><a href="#"><img src="http://placehold.it/280x170" alt="project_06"></a></li>
			</ul>
		</div>
	</section>

	<!-- PENDAFTARAN --------->

	<section id="pendaftaran">
		<h3>Pendaftaran Ujian Masuk Murid Baru</h3>
		<hr>

		<form>
			<h4>Name</h4>
			<input class="input_text" type="text" tabindex="1" placeholder="First"><br>
			<input class="input_text" type="text" tabindex="2" placeholder="Last">
			<h4>Email</h4>
			<input class="input_text" type="text" tabindex="3" placeholder="E-mail">
			<h4>Program yang akan diambil</h4>
			<input type="radio" id="kids" name="program"/> <label for="kids">English for Kids</label><br/>
			<input type="radio" id="teens" name="program"/> <label for="teens">English for Teens</label><br/>
			<input type="radio" id="adults" name="program"/> <label for="adults">English for Adults</label><br/>
			<br>
			<br>
			<input class="button" type="submit">
		</form>
	</section>

	<section id="login" class="login_box">
		<h3>Login</h3>
		<div class="textbox">
			<input type="text" placeholder="Username" name="">
		</div>

		<div class="textbox">
			<input type="password" placeholder="Password" name="">
		</div>
	<input class="btn" type="button" name="" value="Sign In">
	</section>

	<footer>
		<p>
			&copy; 2018 ENGLISH QUEST
		</p>
	</footer>
</body>
</html>